.home {
  background-image: #fff);
  background-position: center center;
  background-repeat: repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
  width: 100%;
  padding-top: 100px;
}
.cards {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
}
